@import 'reset';

.container{
	width: 1061px;
}

.left-sb{
	background-color: #0092D0;
	color: white;
	float: left;
	width: 400px;
}
.top-box{
	background-color: #0092D0;
	border-radius: 10px;
	color: white;
	font-family: Lato;
}

.bot-box{
	background-color: #0092D0;
	border-radius: 10px;
	color: white;
	font-family: Lato;
}