@import 'reset';

.container img{
	background-color: blue;
	height: 25px;
	width: 25px;
}
h1{
	border-bottom: 1px solid white;
}
.topleft-sb{
	color: gray;
	float: left;
}
.top-box{
	width: 500px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 50px;
	float: left;

}
.botleft-sb{
	clear: both;
	float: left;

}
.bot-box{
	width: 500px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 50px;
	float: left;
}